.LIST-ITEM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 30px;
  border-radius: 8px;
  cursor: default;
  transition: background-color 0.1s ease-in-out;

  border-bottom: 1px solid var(--mac-divider);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  &:active {
    background-color: color-mix(var(--mac-control-hover-bg) 20%, transparent);
  }

  .LEFT {
    display: flex;
    align-items: center;
    gap: 10px;

    .ICON {
      div {
        border-radius: 5px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }

    .IMAGE-ICON {
      width: 60px;
      height: 60px;
    }

    .LABEL {
      .LABEL-TEXT {
        font-family: var(--mac-font);
        font-size: var(--font-size-small);
        color: var(--mac-text);
        font-weight: 600;
      }
      .SUB-LABEL-TEXT {
        margin-top: 2px;
        font-family: var(--mac-font);
        font-size: var(--font-size-smaller);
        color: var(--mac-secondary-text);
        font-weight: 600;
      }
    }
  }

  .RIGHT {
    display: flex;
    align-items: center;
    gap: 10px;

    .CHEVRON-RIGHT {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;

      svg {
        width: 13px;
        height: 13px;
        stroke-width: 3px;
        opacity: 0.3;
      }
    }
  }
}
